✅ Tpoic and Content*/
/*  ✅ Style Tile */
/*  ✅ Setup on GitHub */
/*  ✅ Setup on Netlify*/
/* [] CSS Variables*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* colors are not working */
:root {
  --color1: #288BA8;
  --color2: #265D11;
  --color3: #DA89BE;
  --color4: #43C6AC;
  --primaryfont: "Rubik", sans-serif;
}

body {
  font-family: var(--primaryfont);
/*   background: #abbaab;  fallback for old browsers */
/* /* background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */ */ */
/* background: linear-gradient(to right, #ffffff, #abbaab); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
  color: #265D11;
  text-align: left;
}

h2 {
  color: #265D11;
 
}

h3 {
  color: #265D11;
}

h4 {
  color: #265D11;
  
 
}

p{
  color:#288BA8;
}

li{
  color: #288BA8;
}

blockquote{
  border-left: solid 10px #265D11;
  padding-left: 12px;
}

main{
  width: 48%;
  margin: 0 auto 0 auto;
  background: #ffffff54;
  padding: 54px;
}

span {
  color: #43C6AC;
  background: #288BA8;
  margin: 10px;
  padding: 10px;

  font-size: 4rem;
  float: left;
 
}

/* Parent */
main {
  position: relative;
}

/* Child */
h1 {
  background: var(--color4);
  padding: 4px;
  top:18px;
  left: 0;
  position: absolute;
  z-index:-1;
  
  margin: 0;
}